<div class="page-header">
<h1>Loan Requests</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 pull-left">
      <ul>
        <% @categories.each do |category| %>
          <li><%= link_to category.title, category %></li>
        <% end %>
      </ul>
      <%#= collection_select(:category, :category_id, @categories, :id, :title) %>
    </div>
  </div>

  <%= render "shared/search" %>

</div>
</div>

<br>

<%= render "shared/lender_thumbnail" %>
